/InsightContent/obj/*
/InsightContent/bin/*
/InsightContent/Properties/PublishProfiles/FolderProfile.pubxml.user
/.vs/*
/AuthenticationService/obj/*
netstandard2.0
obj
bin
/AuthenticationService/*.user
